{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/new_post.css' %}">

<div class="form-wrapper">
    <form action="{% url 'main:create' %}" method="post">
        {% csrf_token %}
        <div class="form-title">게시글 글 작성</div>

        <div class="form-group">
            <label for="title">제목</label>
            <input type="text" id="title" name="title" required>
        </div>


        <div class="form-group">
            <label for="content">내용</label>
            <textarea id="content" name="content" required></textarea>
        </div>

        <div class="form-group">
    <label for="grade">학점</label>
    <select id="grade" name="grade">
        <option value="A+">A+</option>
        <option value="A0">A0</option>
        <option value="B+">B+</option>
        <option value="B0">B0</option>
        <option value="C+">C+</option>
        <option value="C0">C0</option>
        <option value="F">F</option>
    </select>
</div>

        <div class="form-group">
            <label for="writer">작성자</label>
            <input type="text" id="writer" name="writer" required>
        </div>

        <div class="form-group">
            <label for="pub_date">작성일</label>
            <input type="date" id="pub_date" name="pub_date" required>
        </div>

        <button type="submit">게시글 생성</button>
    </form>
</div>
{% endblock %}